.InputGroup {
  margin-top: -10px;
  max-height: 40px;
  justify-content: space-between;
}

.Input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.Checkbox {
  margin-top: 15px;
}

.SportIcon {
  margin-top: 7px;
  max-width: 30px;
  max-height: 30px;
}
