.gameIcon {
  float: left;
  height: 50px;
  width: 50px;
  margin-top: -5px;
}

.gameIcon:hover {
  cursor: pointer;
}

.gameIconDisableHover {
  float: left;
  max-height: 50px;
  max-width: 50px;
  margin-top: -5px;
}

.gameTitle {
  padding-top: 5px;
  margin-bottom: -5px;
  margin-right: 70px;
}

.gameTitle:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.gameTitleDisableHover {
  padding-top: 5px;
  margin-bottom: -5px;
  text-align: center;
}

.sportsIcon {
  float: right;
  margin-top: -17px;
}
