.card {
  float: right;
  width: 400px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.button {
  border-radius: 10px;
  margin-bottom: 15px;
}

.registerbutton {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.register:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
